@charset "utf-8";
/* CSS Document */
.margin{width:100%;margin:0 auto;}

#dingbu img{height:50px;width:1263px;}

.box{width:1200px;height:35px;background:#f2f2f2;margin:0 auto;}

#header{background:#f2f2f2;}
.header_left{float: left;font:12px/35px "";color:#999999;text-align:center;}
.ae{margin-left:20px;}
.aw:hover{color:black;}
.ae:hover{color: black;}

.header_right{float:right;overflow: hidden;}
.header_right ul li{float: left;margin-left: 15px;font: 10px/34px "";}
.header_right .nf{color: #00746e;}

#banner{height:120px;}
.logo{float: left;margin:12px 0 0 38px;}
.search{float: left;padding:25px 0 0 120px;}
.search form .tet{float:left;width:346px;height:34px;border:none;border:3px solid #ff5500;}
.sub{float:left;width:80px;height:40px;background:#ff5500;border:none;color:#fff;}
.search ul{float:left;}
.search ul li{float:left;margin-right:6px;font:12px/28px "";}


.search ul li a{color:#666666;}
.search ul li a:hover{color:#ff4400;}
.shoop{width:120px;height:34px;float:left;border:2px solid #dfdfdf;margin:26px 0 0 32px;font: 12px/34px "";}
.shoop i{margin-left:5px;}
/* .xinpian img{width:147px;height:120px;float:right;margin-right:93px;position: relative;} */

#mun{height:38px;}
.select{float: left;width:190px;height:38px;background:#48a288;font:12px/38px "";margin-left:30px;}
.nav-l ul{height:430px;background:#ffffff;}
.nav-l ul li{font:12px/42px "";width:190px;height:42px;border-bottom:1px solid #b1dcd3;position: relative;}
.nav-l ul li a{display:block;color:black;}

.nav-l dl{position: absolute;top:0;left:130px;z-index: 9999;display: none;width:500px;height:300px;background:#fff;}
.nav-l dl dd{float: left;margin-left:5px;}

.nav-l ul{display:block;}
.nav-t{
    height: 430px;
    float: left;
}
.nav-2 li{float: left;margin-left:24px;font:16px/38px "";}
.nav-2 li a:hover{color: brown;border-bottom:1px solid brown;}
#av{height: 430px;}
.banner{margin-left: 225px;}
.imgbox{width: 1200px;overflow: hidden;position: relative;height: 430px;}
.imgbox img{
    width: 1200px;
    height: 430px;
    position: absolute;
    
}


#gouche{height:360px;background:#f8f8f8;padding-left:20px;}
#gouche ul li{float: left;margin: 8px 5px 0 5px;}
.gouche-1 h3{font:22px/30px "";padding:15px 0 0 38px;}
.qiche{width:480px;height:290px;background: #fff;margin:12px 0 0 0;overflow: hidden;}
.qiche h2{padding:0 0 0 20px;font:22px/44px "";color: #333333;}
.qiche h3{font:15px/14px "";color: #666666;padding:0 0 0 20px}
.qiche img{width:220px;height:220px;float: right;}
.dc{width:230px;height:140px;background: #fff;}
.dc img{width:110px;height:110px;float: right;}
.dc h2{padding-left:15px;font:14px/26px "";color: #333333;}
.dc h3{padding-left:15px;font:12px/14px "";color: #666666;}

#chebiao{height:53px;background: #fff;border-bottom: 20px solid #f2f2f2;}
#chebiao ul li{float: left;}
#chebiao img {width:50px;height:30px;margin:10px 40px 10px 35px;}


#yunwang{height:360px;background:#f8f8f8;padding-left:20px;}
#yunwang ul li{float: left;margin: 8px 5px 0 5px;}
.yunwang-1 h3{font:22px/30px "";padding:15px 0 0 38px;}
.dianqi{width:480px;height:290px;background: #fff;margin:12px 0 0 0;overflow: hidden;}
.dianqi img{width:480px;height:290px;}
.dd{width:230px;height:140px;background: #fff;}
.dd img{width:100px;height:100px;float: right;}
.dd h2{padding-left:15px;font:14px/26px "";color: #333333;}
.dd h3{padding-left:15px;font:12px/14px "";color: #666666;}


#guang{height:360px;background:#f8f8f8;padding-left:20px;}
#guang ul li{float: left;margin: 8px 5px 0 5px;}
.guang-1 h3{font:22px/30px "";padding:15px 0 0 38px;}
.dianjia{width:480px;height:290px;background: #fff;margin:12px 0 0 0;overflow: hidden;}
.dianjia img{width:480px;height:290px;}
.dn{width:230px;height:140px;background: #fff;}
.dn img{width:100px;height:100px;float: right;}
.dn h2{padding-left:15px;font:14px/26px "";color: #333333;}
.dn h3{padding-left:15px;font:12px/14px "";color: #666666;}









#tedian{width:1200px;height:127px;background: url(../img/logo3.jpg) center;}

#shanghu{height:225px;background:#f2f2f2;float: left;}

#shanghu div{width:220px;float: left;margin-left:30px;padding-top:30px;}
#shanghu ul li a{font:10px/22px "";}
#shanghu ul li a:hover{color: cornflowerblue;}
#shanghu span{font:20px/50px "";} 
.zs{height: 225px;}

#footer{height: 204px;background:#f2f2f2;text-align: center;border-top:1px solid black;}
.footer-3{padding:20px 0 0 324px;}
#footer ul li{width:75px;float: left;}
#footer ul li a:hover{color:cornflowerblue}
.footer-1{width:368px;margin-left:445px;color: #666666;font:12px/33px "";}



.zili{
    width: 80px;
    height: 160px;
    position:fixed;
    right: 20px;
    bottom: 40px;
    background:#666666;

}
.zili li{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border-top: 1px solid #b6b6b6;
}